build-BigInteger-Desktop_Qt_5_7_1_MSVC2015_64bit-Debug/
/build-SumOfNumbersFrom0toN-Desktop-Debug/
/build-Sorted-Desktop-Debug/
/build-FoldAnArray-Desktop-Debug/
/build-DontGiveMeFive-Desktop-Debug/
/build-CompareStringsBySumOfChars-Desktop-Debug/
/build-Rainfall-Desktop-Debug/
/build-BankersPlan-Desktop-Debug/
build-LargeFactorials-Desktop_Qt_5_7_1_MSVC2015_64bit-Debug/
